html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;
  color: #1d1e25;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1240px;
  padding: 20px;
  margin: 0 auto;
}


.title {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: #1d1e25;
}

.sub-btn {
  padding: 16px 43px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background-color: #1d1e25;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.sub-btn:hover {
  background-color: #3A3A3A;
}

.sub-btn:active {
  background-color: #0020FF;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 32px;
}

.menu__item {
  font-size: 16px;
  line-height: 1.62;
}

.menu__item-link:hover {
  color: #7E83A3;
}

.menu__item-link:active {
  color: #0020FF;
}

.item-arrow {
  margin-left: 46px;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #000;
}

.burger {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: end;
}

.burger__btn {
  position: absolute;
  top: -14px;
  z-index: 99;
}

.mobile__menu {
  transform: translateY(-110%);
  /* margin: 0 auto; */
  position: absolute;
  top: -46px;
  right: -20px;
  padding: 50px 0;
  z-index: 98;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: transform .7s ease;
}

.mobile__menu.active {
  transform: translateY(0%)
}

.mobile__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header__botton {
  position: relative;
  margin-top: 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 141px;
}

.intro__text {
  max-width: 617px;
}

.intro__title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 114px;
}

.intro__subtitle {
  display: flex;
  gap: 27px;
  margin-bottom: 69px;
}

.intro__subtitle-arrow {
  margin-top: 22px;
}

.subtitle-arrow {
  width: 76px;
  height: 1px;
  background-color: #000;
}

.intro__subtitle-text {
  width: 514px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.31;
  letter-spacing: -0.03em;
}

.intro__form {
  display: flex;
  align-items: end;
  gap: 16px;
}

.intro__input {
  width: 280px;
  height: 47px;
  border: none;
  background-color: transparent;
}

.intro__input::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #7e8492;
}

.intro__input:active,
.intro__input:focus {
  outline: none;
  animation: input-opacity 2.5s forwards;
  border-bottom: 1px solid #ced1d8;
}

.intro-graph {
  max-width: 553px;
  max-height: 545px;
  width: 100%;
  filter: drop-shadow(20px 40px 80px rgba(45,51,81, 0.12));
}

@keyframes input-opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.bg-item {
  position: absolute;
  z-index: -1;
  border-radius: 100%;
}

.header__orange {
  width: 600px;
  height: 600px;
  opacity: 0.13;
  filter: blur(123px);
  background-color: #fa7515;
  top: -30px;
  left: -242px;
}

.header__green {
  width: 550px;
  height: 550px;
  filter: blur(180px);
  opacity: 0.9;
  background-color: #E2F8F0;
  top: 100px;
  right: 80px;
}

.overview {
  background-color: #1d1e25;
}

.overview__inner {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.overview__title{
  width: 816px;
  font-size: 56px;
  color: #fff;
  margin-bottom: 24px;
}

.overview__subtitle {
  max-width: 660px;
  font-size: 18px;
  color: #7e8492;
}

.overview__list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px 256px;
}

.overview__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-basis: 457px;
}

.overview__item-img {
  width: 40px;
  height: 40px;
}

.overview__item-title {
  width: 262px;
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: -0.03em;
  color: #fff;
}

.overview__item-subtitle {
  font-size: 16px;
  line-height: 1.62;
  color: #7e8492;
}

.features {
  margin-top: 160px;
  margin-bottom: 94px;
}

.features__inner {
  display: flex;
  gap: 58px;
  align-items: center;
}

.features__img {
  max-width: 585px;
  max-height: 651px;
  width: 100%;
}

.features__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.features__title {
  max-width: 557px;
  font-size: 56px;
  margin-bottom: 24px;
}

.features__subtitle {
  max-width: 360px;
  line-height: 1.78;
  color: #7e8492;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.features__item-text {
  max-width: 353px;
  line-height: 1.78;
}

.strength {
  margin-top: 66px;
  margin-bottom: 160px;
}

.strength__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.strength__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.strength__item-title {
  font-size: 64px;
}

.strength__item-subtitle {
  width: 200px;
  line-height: 1.78;
  color: #7e8492;
}

.strength__item-arrow {
  display: block;
  width: 1px;
  height: 99px;
  background-color: #ced1d8;
}

.strength__img {
  max-width: 1200px;
  max-height: 536px;
  width: 100%;
}

.strength__bottom {
  display: flex;
  gap: 24px;
}

.strength__bottom-title {
  max-width: 772px;
  font-size: 56px;
}

.strength__bottom-subtitle {
  max-width: 421px;
  line-height: 1.78;
  color: #7e8492;
}

.partners__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 56px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.partners__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.partners__title {
  font-size: 56px;
}

.partners__subtitle {
  width: 323px;
  line-height: 1.78;
  color: #7e8492;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
}

.services {
  margin-top: 160px;
  margin-bottom: 100px;
}

.services__inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.services__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services__title {
  max-width: 601px;
  font-size: 56px;
}

.services__subtitle {
  max-width: 462px;
  line-height: 1.78;
  color: #7e8492;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px 64px;
}

.services__item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.services__item-img {
  position: relative;
}

.services__item-main {
  max-width: 240px;
  max-height: 273px;
  width: 100%;
}

.services__item-sub {
  position: absolute;
  z-index: 1;
  top: 12px;
  right: 12px;
}

.services__item-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services__item-title {
  max-width: 268px;
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: -0.03em;
}

.services__item-subtitle {
  font-size: 16px;
  line-height: 1.62;
  max-width: 268px;
  color: #7e8492;
}

.insight {
  margin-top: 60px;
  margin-bottom: 91px;
}

.insight__inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.insight__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.insight__title {
  font-size: 56px;
}

.insight__subtitle {
  max-width: 651px;
  text-align: center;
  line-height: 1.78;
  color: #7e8492;
}

.insight__slider {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.slider__btn {
  position: absolute;
  top: 126px;
  right: 560px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #fff;
  z-index: 97;
}

.slider__btn-under {
  position: absolute;
  top: 28px;
  right: 27px;
  display: flex;
  justify-content: center;
  z-index: 98;
}

.slider__btn-bg {
  z-index: 99;
  width: 14px;
  height: 19px;
}

.insight__news {
  max-width: 1200px;
}

.insight__new {
  max-width: 582px;
}

.slider__img {
  width: 582px;
  height: 332px;
}

.slider__content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: #7e8492;
}

.slider__title {
  text-align: left;
  width: 582px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.testimonials {
  margin-top: 69px;
  margin-bottom: 160px;
}

.testimonials__inner {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.testimonials__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonials__title {
  max-width: 530px;
  font-size: 56px;
}

.testimonials__subtitle {
  max-width: 376px;
  line-height: 1.78;
  color: #7e8492;
}

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
}

.testimonials__frame {
  max-width: 898px;
  /* overflow: hidden; */
}

.testimonials__main {
  position: relative;
  display: flex;
  gap: 42px;
}

.testimonials__img {
  max-width: 115px;
  max-height: 77px;
  width: 100%;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.testimonials__content-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonials__stars {
  max-width: 164px;
  max-height: 26px;
  width: 100%;
}

.blockquote__text {
  max-width: 898px;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -0.03em;
}

.testimonials__content-bottom {
  display: flex;
  justify-content: space-between;
}

.testimonials__profile {
  display: flex;
  align-items: center;
  gap: 24px;
}

.testimonials__profile-img {
  width: 56px;
  height: 56px;
}

.testimonials__progile-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.testimonials__progile-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.44;
}

.testimonials__progile-subtitle {
  font-size: 16px;
  line-height: 1.62;
  color: #7e8492;
}

.testimonials__slider-btn {
  position: absolute;
  bottom: 2px;
  right: 0;
  display: flex;
  gap: 16px;
  z-index: 98;
}

.testimonials__btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;  
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials__btn-left {
  background-image: url(../images/main/testimonials/arrow-left.svg);
  border: 1px solid #ced1d8;
}

.testimonials__btn-right {
  background-image: url(../images/main/testimonials/arrow-right.svg);
  background-color: #1d1e25;
}

.footer {
  overflow: hidden;
}

.footer__inner {
  position: relative;
  padding-top: 112px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
}

.footer__top-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__top-title {
  font-size: 64px;
}

.footer__top-subtitle {
  display: flex;
  gap: 24px;
}

.footer__top-arrow {
  margin-top: 20px;
}

.footer__top-text {
  max-width: 543px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.42;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 76px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ced1d8;
}

.footer__bottom-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__left-text {
  width: 292px;
  font-size: 16px;
  line-height: 1.62;
}

.footer__bottom-right {
  display: flex;
  gap: 93px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__item {
  font-size: 16px;
  font-weight: 400;
}

.footer__item:first-child {
  font-weight: 700;
  margin-bottom: 8px;
}

.footer__item-link:hover {
  color: #7E83A3;
}

.footer__item-link:active {
  color: #0020FF;
}

.footer__bottom-mobile {
  display: none;
}

.footer__copyright {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 60px;
  font-size: 16px;
  color: #afb3bb;
}

.footer__orange {
  width: 600px;
  height: 600px;
  opacity: 0.13;
  filter: blur(123px);
  background-color: #fa7515;
  top: -110px;
  left: 74px;
}

.footer__green {
  width: 525px;
  height: 525px;
  filter: blur(180px);
  opacity: 0.9;
  background-color: #E2F8F0;
  top: 55px;
  right: -543px;
}

@media(max-width: 1239px) {
  .strength__list {
    gap: 59px;
  }
  .partners__list {
    gap: 0 17px;
  }
}

@media(max-width: 1226px) {
  .intro-graph {
    max-width: 400px;
  }
  .overview__list {
    gap: 56px 200px;
  }
  .features__inner {
    gap: 18px;
  }
  .services__list {
    gap: 56px 20px;
  }
  .slider__btn {
    right: 537px;
  }
  .footer__copyright {
    margin-bottom: 30px;
  }
  .insight__news {
    max-width: 1160px;
  }
}

@media (max-width: 1200px) {
  .partners__list {
    gap: 0;
  }
  .insight__news {
    max-width: 900px;
  }
  .slider__btn {
    right: 276px;
  }
}

@media (max-width: 1152px) {
  .strength__list {
    gap: 40px;
  }
}

@media (max-width: 1120px) {
  .partners__list {
    gap: 10px 21px;
  }
}

@media (max-width: 1000px) {
  .insight__news {
    max-width: 800px;
  }
  .insight__new {
    max-width: 470px;
  } 
  .intro__title {
    margin-bottom: 70px;
    font-size: 60px;
  }
  .intro__subtitle {
    gap: 20px;
  }
  .intro__form {
    gap: 0;
  }
  .subtitle-arrow {
    width: 30px;
  }
  .sub-btn {
    font-size: 14px;
    padding: 14px 30px;
  }
  .intro__subtitle-text {
    font-size: 21px;
    width: 399px;
  }
  .intro-graph {
    max-width: 387px;
  }
  .overview__list {
    gap: 56px 20px;
  }
  .features__inner {
    gap: 15px;
  }
  .features__img {
    max-width: 475px;
  }
  .features__title {
    width: 470px;
    font-size: 36px;
  }
  .strength {
    margin-bottom: 70px;
  }
  .strength__item-title {
    font-size: 50px;
    width: 180px;
  }
  .strength__item-subtitle {
    font-size: 16px;
    width: 180px;
  }
  .strength__list {
    gap: 20px;
  }
  .strength__bottom-title {
    font-size: 40px;
  }
  .partners__inner {
    flex-wrap: wrap;
    gap: 20px;
  }
  .partners__list {
    justify-content: center;
    gap: 10px 0;
  }
  .services {
    margin: 70px 0;
  }
  .services__item {
    gap: 20px;
  }
  .services__item-main {
    max-width: 200px;
  }
  .services__item-content {
    gap: 15px;
  }
  .services__item-title {
    max-width: 230px;
    font-size: 26px;
  }
  .services__item-subtitle {
    max-width: 240px;
  }
  
  .slider__img {
    width: 470px;
    height: 100%;
  }
  .slider__content {
    font-size: 12px;
  }
  .slider__title {
    width: 416px;
    font-size: 19px;
  }
  .slider__btn {
    right: 284px;
    top: 92px;
  }
  .footer__bottom-right {
    gap: 30px;
  }
}

@media (max-width: 860px) {
  .title {
    font-size: 30px;
  }
  .header__botton {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .intro__title {
    font-size: 50px;
    width: 371px;
    margin-bottom: 48px;
  }
  .intro-graph {
    max-width: 365px;
  }
  .intro__subtitle {
    gap: 10px;
  }
  .subtitle-arrow {
    width: 30px;
  }
  .intro__subtitle-text {
    font-size: 20px;
    width: 362px;
  }
  .sub-btn {
    font-size: 12px;
    line-height: 1.67;
    padding: 8px 16px;
  }
  .overview__inner {
    gap: 40px;
  }
  .overview__title {
    max-width: 500px;
  }
  .overview__subtitle {
    max-width: 500px;
  }
  .overview__item {
    flex-basis: 378px;
  }
  .overview__list {
    justify-content: center;
    gap: 40px 0;
  }
  .features {
    margin: 80px 0;
  }
  .features__inner {
    justify-content: center;
  }
  .features__img {
    max-width: 380px;
  }
  .features__title {
    max-width: 335px;
    margin-bottom: 20px;
  }
  .features__list {
    gap: 20px;
  }
  .features__item {
    gap: 10px;
  }
  .features__item-text {
    max-width: 350px;
  }
  .strength__item-title {
    max-width: 120px;
    font-size: 32px;
    line-height: 1.31;
  }
  .strength__item-subtitle {
    max-width: 160px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .strength__item-arrow {
    height: 64px;
  }
  .strength__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 106px;
  }
  .strength__item:nth-child(4){
    display: none;
  }
  .strength__item:nth-child(3) {
    width: 142px;
  }
  .strength__item:nth-last-child(1) {
    width: 142px;
  }
  .services__inner {
    gap: 60px;
  }
  .services__list {
    gap: 40px;
    justify-content: center;
  }
  .services__item {
    gap: 60px;
  }
  .services__item-main {
    max-width: 240px;
  }
  .services__item-content {
    gap: 24px;
  }
  .services__item-title {
    font-size: 32px;
    max-width: 400px;
  }
  .services__item-subtitle {
    max-width: 400px;
  }
  .insight__inner {
    gap: 60px;
  }
  .slider__title {
    font-size: 28px;
  }
  .insight__news {
    max-width: 700px;
  }
  .insight__new {
    max-width: 476px;
  }
  .slider__btn {
    right: 189px;
  }
  .testimonials {
    margin: 70px 0;
  }
  .testimonials__img {
    max-width: 75px;
  }
  .testimonials__frame {
    max-width: 650px;
  }
  .testimonials__content {
    margin-left: 10px;
  }
  .blockquote__text {
    font-size: 30px;
  }
  .footer__inner {
    padding-top: 51px;
  }
  .footer__top-text {
    font-size: 24px;
  }
  .footer__top-content {
    gap: 24px;
  }
  .footer__bottom {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__left-text {
    font-size: 14px;
    line-height: 1.43;
    color: #7e8492;
    margin-bottom: 56px;
  }
}

@media (max-width: 796px) {
  .partners__list {
    gap: 10px 81px;
  }
  .intro-graph {
    max-width: 315px;
  }
  .overview__header {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .menu {
    display: none;
  }
  .burger {
    display: flex;
  }
  .mobile__menu {
    min-width: 700px;
    margin: 0 auto;
  }
  .intro-graph {
    max-width: 335px;
  }
  .features__inner {
    flex-wrap: wrap;
  }
  .features__main-img {
    position: relative;
  }
  .features__main-img::after {
    position: absolute;
    content: url(../images/main/features/img2.svg);
    display: block;
    width: 177px;
    height: 181px;
    bottom: 24px;
    right: 20px;
  }
  .header__botton {
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
  }
  .strength__bottom-title {
    font-size: 24px;
  }
  .insight__news {
    max-width: 470px;
  }
  .slider__btn {
    right: 5px;
  }
  .strength__list {
    gap: 20px 53px;
  }
  .testimonials__frame {
    max-width: 500px;
  }
}

@media (max-width: 554px) {
  .partners__list {
    gap: 16px 7px;
  }
  .mobile__menu {
    min-width: 554px;
    margin: 0 auto;
  }
  .testimonials__frame {
    max-width: 400px;
  }
  .overview__title {
    max-width: 434px;
  }
  .footer__top-content {
    gap: 24px;
  }
  .footer__top-subtitle {
    gap: 8px;
  }
  .footer__top-subtitle .subtitle-arrow {
    width: 35px;
  }
  .footer__top {
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 56px;
  }
  .footer__top-btn {
    margin-left: 43px;
  }
  .footer__-btn.sub-btn {
    padding: 12px 40px;
  }
  .footer__bottom {
    padding: 0;
  }
  .footer__bottom-left {
    gap: 8px;
  }
  .footer__left-logo {
    width: 95px;
  }
  .footer__bottom-right {
    display: none;
  }
  .footer__bottom-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
  }
  .social__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .bottom-mobile__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .bottom-mobile__item {
    font-size: 14px;
    line-height: 1.43;
    color:  #7e8492;
  }
}
 
@media (max-width: 480px) {
  .logo {
    width: 112px;
    height: 52px;
  }
  .mobile__menu {
    min-width: 480px;
    margin: 0 auto;
  }
  .item-arrow {
    margin-top: 10px;
    margin-left: 0;
  }
  .header__botton {
    margin-top: 12px;
    margin-bottom: 56px;
    align-items: start;
    gap: 56px;
    flex-wrap: wrap;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.25;
    width: 335px;
    margin-bottom: 48px;
  }
  .intro__subtitle-text {
    max-width: 300px;
  }
  .intro__input {
    max-width: 240px;
  }
  .intro__text {
    max-width: 355px;
  }
  .overview__title {
    max-width: 335px;
  }
  .strength__list {
    gap: 20px;
  }
  .strength__item-title {
    
    font-size: 32px;
    line-height: 1.31;
  }
  .strength__item-subtitle {
    max-width: 160px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .strength__bottom {
    flex-wrap: wrap;
    gap: 16px;
  }
  .strength__bottom-subtitle {
    font-size: 14px;
    line-height: 1.43;
  }
  .features {
    margin-top: 36px;
    margin-bottom: 10px;
  }
  .features__inner {
    gap: 32px;
  }
  .features__main-img {
    position: relative;
  }
  .features__main-img::after {
    position: absolute;
    content: url(../images/main/features/img2.svg);
    display: block;
    width: 177px;
    height: 181px;
    bottom: 24px;
    right: 20px;
  }
  .features__content {
    gap: 24px;
  }
  .features__title {
    width: 100%;
    margin-bottom: 16px;
  }
  .features__subtitle {
    font-size: 14px;
    line-height: 1.43;
  }
  .features__list{
    gap: 16px;
  }
  .features__item {
    gap: 8px;
  }
  .features__item-text {
    font-size: 14px;
    line-height: 1.43;
  }
  .partners__inner {
    border: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 32px;
  }
  .partners__list {
    gap: 16px 35px;
}
  .partners__header {
    gap: 8px;
  }
  .partners__title {
    font-weight: 700;
    line-height: 1.33;
  }
  .partners__subtitle {
    width: 231px;
    font-size: 14px;
    line-height: 1.43;
  }
  .partners__item-img {
    width: 125px;
  }
  .insight {
    margin: 0;
  }
  .insight__inner {
    gap: 32px;
  }
  .insight__header {
    gap: 16px;
  }
  .insight__subtitle {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  .insight__news {
    max-width: 300px;
  }
  .slider__content {
    font-size: 11px;
  }
  .slider__img {
    max-height: 148px;
    max-width: 260px;
  }
  .slider__title {
    font-size: 16px;
    line-height: 1.5;
    width: 299px;
  }
  .slider__btn {
    width: 40px;
    height: 40px;
    right: 5px;
    top: 81px;
  }
  .slider__btn-img {
    position: absolute;
    z-index: 97;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
  }
  .slider__btn-under {
    top: 10px;
    right: 7px;
  }
  .testimonials {
    margin-top: 16px;
    margin-bottom: 80px;
  }
  .testimonials__inner {
    gap: 57px;
  }
  .testimonials__header {
    flex-wrap: wrap;
    gap: 16px;
  }
  .testimonials__img {
    width: 32px;
    height: 21px;
  }
  .testimonials__frame {
    max-width: 303px;
  }
  .testimonials__content {
    margin-left: 10px;
    gap: 8px;
  }
  .testimonials__content-top {
    gap: 11px;
  }
  .testimonials__stars {
    max-width: 141px;
  }
  .blockquote__text {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 600;
  }
  .testimonials__profile {
    gap: 12px;
  }
  .testimonials__progile-info {
    gap: 0;
  }
  .testimonials__progile-title {
    font-size: 14px;
    line-height: 1.43;
  }
  .testimonials__progile-subtitle {
    font-size: 12px;
    line-height: 2.17;
  }
  .testimonials__profile-img {
    width: 40px;
    height: 40px;
  }
  .testimonials__slider-btn {
    bottom: 11px;
    gap: 8px;
  }
  .testimonials__btn {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 400px) {
  .strength__list {
    gap: 5px;
  }
}

@media (max-width: 375px) {
  .mobile__menu {
    min-width: 775px;
    margin: 0 auto;
  }
  .title {
    font-size: 24px;
    line-height: 1.42;
  }
  .mobile__menu {
    width: 375px;
  } 
  .intro__subtitle {
    gap: 8px;
    margin-bottom: 40px;
  }
  .intro__subtitle-arrow {
    margin-top: 11px;
  }
  .subtitle-arrow {
    width: 24px;
  }
  .intro__subtitle-text{
    width: 303px;
    font-size: 16px;
    line-height: 1.5;
  }
  .intro__form {
    gap: 8px;
  }
  .intro__input {
    width: 219px;
    height: 36px;
  }
  .intro__input::placeholder {
    font-size: 16px;
  }
  .header__orange {
    width: 228px;
    height: 228px;
    filter: blur(40px);
    top: -88px;
    left: -57px;
  }
  .header__green {
    width: 228px;
    height: 228px;
    filter: blur(40px);
    top: 64px;
    right: 8px;
  }
  .overview__inner {
    padding: 20px 0;
    gap: 32px;
  }
  .overview__title {
    width: 335px;
    margin-bottom: 16px;
  }
  .overview__subtitle {
    font-size: 14px;
    line-height: 1.43;
  }
  .overview__list {
    gap: 24px;
  }
  .overview__item {
    gap: 16px;
  }
  .overview__item-img {
    width: 24px;
    height: 24px;
  }
  .overview__item-title {
    font-size: 18px;
    line-height: 1.44;
    width: 100%;
  }
  .overview__item-subtitle {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
  }
  






  .strength {
    margin-top: 6px;
    margin-bottom: 36px;
  }
  .partners__list {
    gap: 16px 14px;
  }
  .services {
    margin: 16px 0;
  }
  .services__inner {
    gap: 32px;
  }
  .services__header{
    gap: 16px;
  }
  .services__subtitle {
    font-size: 14px;
    line-height: 1.43;
  }
  .services__list {
    flex-wrap: wrap;
    gap: 24px;
  }
  .services__item {
    gap: 16px;
  }
  .services__item-main {
    width: 160px;
    height: 216px;
    object-fit: cover;
  }
  .services__item-sub {
    width: 40px;
    height: 40px;
  }
  .services__item-content {
    gap: 8px;
  }
  .services__item-title {
    font-size: 16px;
    line-height: 1.5;
  }
  .services__item-subtitle {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 400;
  }
  .testimonials__header {
    flex-wrap: wrap;
    gap: 16px;
  }
  .insight__subtitle {
    text-align: start;
  }
  .testimonials__title {
    width: 245px;
  }
  .testimonials__subtitle {
    font-size: 14px;
    line-height: 1.43;
    width: 229px;
  }
  .footer__copyright {
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.43;
    color: #7e8492;
  }
  .footer__orange {
    width: 228px;
    height: 228px;
    filter: blur(40px);
    top: -21px;
    left: -43px;
  }
  .footer__green {
    width: 228px;
    height: 228px;
    filter: blur(40px);
    top: 301px;
    right: -128px;
  }
}